// INSTRUCTION
// Just go to the white block below
// Please do not look at the map (at the bottom of Javascript source code). It's cheating.
//
// CONTROLS
// UP arrow key    = JUMP
// LEFT arrow key  = MOVE TO LEFT
// RIGHT arrow key = MOVE TO RIGHT

$white: #ffffff;
$grey: #8f8f8f;
$black: #271C01;
$background-image: url("/../../resources/background_game/background-game.jpg");
$ground-1: #a0522d;
$ground-2: #cd853F;
$lawn: #228b22;
$block-1: #696969;
$block-2: #c0c0c0;
$block-3: #808080;
$LVL: RED;
$rows: 10;
$columns: 23;

// VARIABLES
$grid-size: 3em;
$move-time: .1s;

// CHARACTER PIXEL ART START
$pixdiv: 16;
$pixel: $grid-size / $pixdiv;

@function pixel($pixel, $x, $y, $flip) {
  @if ($flip) {
    @return ($pixel * ($pixdiv - 1 - $x)) ($pixel * $y) $black
  } @else {
    @return ($pixel * $x) ($pixel * $y) $black
  }
}

@function pixel-common($pixel, $flip) {
  @return // pixel($pixel,  15,  0),
          //Cabeza dinosaurio

          //línea derecha
          //pixel($pixel, 1, 1, $flip),
          //pixel($pixel, 1, 2, $flip),
          //pixel($pixel, 1, 3, $flip),
          //pixel($pixel, 1, 4, $flip),
          //pixel($pixel, 1, 5, $flip),
          //pixel($pixel, 1, 6, $flip),
          //pixel($pixel, 1, 7, $flip),
          //pixel($pixel, 1, 8, $flip),
          //pixel($pixel, 1, 9, $flip),
          //pixel($pixel, 1, 10, $flip),
          //pixel($pixel, 1, 11, $flip),
          ////línea izquierda
          //pixel($pixel, 14, 1, $flip),
          //pixel($pixel, 14, 2, $flip),
          //pixel($pixel, 14, 3, $flip),
          //pixel($pixel, 14, 4, $flip),
          //pixel($pixel, 14, 5, $flip),
          //pixel($pixel, 14, 6, $flip),
          //pixel($pixel, 14, 7, $flip),
          //pixel($pixel, 14, 8, $flip),
          //pixel($pixel, 14, 9, $flip),
          //pixel($pixel, 14, 10, $flip),
          //pixel($pixel, 14, 11, $flip),
          ////línea arriba
          //pixel($pixel, 2, 1, $flip),
          //pixel($pixel, 3, 1, $flip),
          //pixel($pixel, 4, 1, $flip),
          //pixel($pixel, 5, 1, $flip),
          //pixel($pixel, 6, 1, $flip),
          //pixel($pixel, 7, 1, $flip),
          //pixel($pixel, 8, 1, $flip),
          //pixel($pixel, 9, 1, $flip),
          //pixel($pixel, 10, 1, $flip),
          //pixel($pixel, 11, 1, $flip),
          //pixel($pixel, 12, 1, $flip),
          //pixel($pixel, 13, 1, $flip),
          //piernas
          pixel($pixel, 6, 12, $flip),
          pixel($pixel, 7, 12, $flip),
          pixel($pixel, 5, 12, $flip),
          pixel($pixel, 8, 12, $flip),
          pixel($pixel, 9, 12, $flip),
          pixel($pixel, 6, 13, $flip),
          pixel($pixel, 8, 13, $flip);
}

@mixin pixel-0($pixel, $flip) {
  box-shadow: pixel-common($pixel, $flip),
  pixel($pixel, 6, 14, $flip),
  pixel($pixel, 8, 14, $flip),
  pixel($pixel, 6, 15, $flip),
  pixel($pixel, 7, 15, $flip),
  pixel($pixel, 8, 15, $flip),
  pixel($pixel, 9, 15, $flip);
}

@mixin pixel-1($pixel, $flip) {
  box-shadow: pixel-common($pixel, $flip),
  pixel($pixel, 6, 14, $flip),
  pixel($pixel, 8, 14, $flip),
  pixel($pixel, 9, 14, $flip),
  pixel($pixel, 6, 15, $flip),
  pixel($pixel, 7, 15, $flip);
}

@mixin pixel-2($pixel, $flip) {
  box-shadow: pixel-common($pixel, $flip),
  pixel($pixel, 6, 14, $flip),
  pixel($pixel, 7, 14, $flip),
  pixel($pixel, 8, 14, $flip),
  pixel($pixel, 8, 15, $flip),
  pixel($pixel, 9, 15, $flip);
}

@mixin character($size, $pixel, $flip) {
  width: $size;
  height: $size;
  display: flex;
  position: absolute;
  transition: top 0.1s ease-in, left 0.15s;
  background: {
    //image: url("/../../resources/authors_images/authors_images/gabriela_mistral.png") ;
    size: 80%;
    repeat: no-repeat;
  }
  background-position: 50% 0;
  &:before {
    @include pixel-0($pixel, $flip);
    content: '';
    width: $pixel;
    height: $pixel;
    position: absolute;

    &.move {
      animation: character-move 0.8s infinite;
    }
  }
}

// CHARACTER PIXEL ART END

// CSS LOOP START
$classes: (
        'ground': (
                'bg': (
                        linear-gradient(
                                        to top right,
                                        $ground-1 0% 25%,
                                        $ground-2 25% 50%,
                                        $ground-1 50% 75%,
                                        $ground-2 75% 100%
                        )
                ),
                'bg-type': 'image'
        ),
        'lawn': (
                'bg': (
                        linear-gradient(to bottom, $lawn 0% 25%, transparent 25% 100%),
                        linear-gradient(
                                        to top right,
                                        $ground-1 0% 25%,
                                        $ground-2 25% 50%,
                                        $ground-1 50% 75%,
                                        $ground-2 75% 100%
                        )
                ),
                'bg-type': 'image'
        ),
        'block': (
                'bg': (
                        linear-gradient(to bottom, $block-1 0% 2%, transparent 2% 98%, $block-1 98% 100%),
                        linear-gradient(to right, $block-1 0% 2%, transparent 2% 98%, $block-1 98% 100%),
                        linear-gradient(to bottom, $block-2 0 10%, transparent 10% 100%),
                        linear-gradient(to right, $block-2 0 10%, transparent 10% 100%),
                        linear-gradient($block-3 0 100%)
                ),
                'bg-type': image
        ),
        'finish': (
                'bg': url("/../../resources/background_game/diamante.png"),
                'bg-type': image
        ),
        'space': (
                'bg': transparent,
                'bg-type': color
        ),
        'lvl': (
                'bg': (
                        //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl.png")
                ),
                'bg-type': image
        ),
        'lvl-1': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl1.png")
                ),
                'bg-type': image
        ),
        'lvl-2': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl2.png")
                ),
                'bg-type': image
        ),
        'lvl-3': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl3.png")
                ),
                'bg-type': image
        ),
        'lvl-4': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl4.png")
                ),
                'bg-type': image
        ),
        'lvl-5': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl5.png")
                ),
                'bg-type': image
        ),
        'lvl-6': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl6.png")
                ),
                'bg-type': image
        ),
        'lvl-7': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl7.png")
                ),
                'bg-type': image
        ),
        'lvl-8': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl8.png")
                ),
                'bg-type': image
        ),
        'lvl-9': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl9.png")
                ),
                'bg-type': image
        ),
        'lvl-10': (
                'bg': (
                  //url(https://e7.pngegg.com/pngimages/703/359/png-clipart-pile-of-books-illustration-school-library-reading-librarian-stacked-books-angle-white-thumbnail.png)
                        url("/../../resources/background_game/lvl10.png")
                ),
                'bg-type': image
        )
);

@mixin common($bg, $bg-type, $grid-size) {
  display: flex;
  background:{
    #{$bg-type}: $bg;
    size:contain;
    repeat: no-repeat;
    position: center;
  }
  width: $grid-size;
  height: $grid-size;
}

@each $class-name, $class in $classes {
  $bg: map-get($class, 'bg');
  $bg-type: map-get($class, 'bg-type');

  .#{$class-name} {
    @include common($bg, $bg-type, $grid-size);
  }
}

// CSS LOOP END

.container-game {
  /*overflow: hidden;*/
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 .5em 0 3.5%;
  text-align: center;
  //display: block;
  .screen {
    width: $grid-size * $columns;
    height: $grid-size * $rows;
    display: grid;
    grid-template-rows: repeat($rows, $grid-size);
    position: relative;
    top: 0;
    transition: top 0.3s;
    margin-top: .4em;
    border: .4em solid #71491F;
    border-radius: 1em;
    .row {
      display: grid;
      grid-template-columns: repeat($columns, $grid-size);

      .col {
        width: $grid-size;
        height: $grid-size;
      }
    }

    .character {
      @include character($grid-size, $grid-size / $pixdiv, false);

      &.hide {
        visibility: hidden;
      }

      &.flip:not(.dead) {
        @include character($grid-size, $grid-size / $pixdiv, true);
      }

      &.move:not(.dead):before {
        animation: character-move 0.3s infinite;
      }

      &.move.flip:not(.dead):before {
        animation: character-move-flip 0.3s infinite;
      }

      &.dead {
        transform: rotate(-90deg);
      }
    }
    &.active {
      background-image: $background-image;
      background-size: 14%;
    }
  }
}

@mixin character-move($flip) {
  $character-move: '';

  @if ($flip) {
    $character-move: character-move-flip;
  } @else {
    $character-move: character-move;
  }
  @keyframes #{$character-move} {
    0% {
      @include pixel-1($grid-size / $pixdiv, $flip);
    }
    24.99999% {
      @include pixel-1($grid-size / $pixdiv, $flip);
    }
    25% {
      @include pixel-0($grid-size / $pixdiv, $flip);
    }
    49.99999% {
      @include pixel-0($grid-size / $pixdiv, $flip);
    }
    50% {
      @include pixel-2($grid-size / $pixdiv, $flip);
    }
    74.99999% {
      @include pixel-2($grid-size / $pixdiv, $flip);
    }
    75% {
      @include pixel-0($grid-size / $pixdiv, $flip);
    }
    99.99999% {
      @include pixel-0($grid-size / $pixdiv, $flip);
    }
    100% {
      @include pixel-1($grid-size / $pixdiv, $flip);
    }
  }
}

@include character-move(false);
@include character-move(true);
