$darkBlue: #217093;
$medBlue: #4eb8dd;
$lightBlue: #ddf1fa;
$inputBG: #f3fafd;

.container-all{

}
.login-container{
  position: relative;
  margin:2em;
}


i{
  color:#ffffff;
  padding-left: 7px;
}

p{color:#F5925E;}

a:link {
  text-decoration: none;
  color: #F5925E;
}

a:visited {
  text-decoration: none;
  color: #F5925E;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

a:active {
  text-decoration: none;
  color: #F5925E;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

form{
  margin-top: 250px;
  margin-bottom: 10px;
}


.layoutContainer{
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-around;
}

.book {
  position: relative;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 18.5rem;
  height: 12.5rem;
  perspective: 70rem;
}

.cover {
  background-color: #AE773F;
  transform: rotateY(0deg);
  width: 10.50rem;
  height: 13.75rem;
  border: 1px solid #9c6b38;
}

.page {
  top: 0.25rem;
  left: 0.25rem;
  background-color: #eee;
  transform: rotateY(0deg);
  width: 10.25rem;
  height: 13.25rem;
  text-align: center;
  font-size: 8px;
  color: #777;
  font-family: monospace;
}
.page::before, .page::after {
  display: block;
  content: "";
  padding-bottom: 1rem;
}

.cover, .page {
  position: absolute;
  margin-left: -18px;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
  0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  img {
    height: 216px;
    width: 165px;
  }
}

.cover.turn {
  animation: bookCover 5s forwards;
}
.page.turn {
  animation: bookOpen 5s forwards;
}
.page:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page:nth-of-type(2) {
  animation-delay: 0.33s
}
.page:nth-of-type(3) {
  animation-delay: 0.66s;
}
.page:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 0.99s;
}
.page:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}
.page:nth-of-type(6) {
  animation: bookOpen55deg 3s forwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 999;}
}
@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 1;}
}
@keyframes bookOpen150deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(150deg);
    z-index: 999;}
}
@keyframes bookOpen55deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(55deg);
    z-index: 999;}
}
@keyframes bookOpen30deg {
  50% { z-index: 999 }
  100% {  transform: rotateY(30deg);
    z-index: 999;}
}


.wrapper{
  color: white;
  padding-top: 10px;
  h2{
    font-size: 28px;
    text-align:center;
    display: inline-block;
    vertical-align: middle;
  }
}

.comment {
  background-color: rgba(48, 44, 44, 0.2);
  padding: 1em;
}


form {
  -webkit-text-stroke: .05em black;
  position: absolute;
  border:  .2em solid #9c6b38;
  top: 13em;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  margin: 0;
  padding: 2.25em;
  box-sizing: border-box;
  border-radius: .5em;
  font-family: 'Source Sans Pro', sans-serif;

  .svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    background: none;
    border: solid 2.5px #3A5E77;
    overflow: hidden;
    pointer-events: none;

    div {
      position: relative;
      width: 100%;
      height: 0;
      overflow: hidden;
      padding-bottom: 100%;
    }

    .mySVG {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  .inputGroup {
    margin: 0 0 2em;
    padding: 0;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  label {
    margin: 0 0 12px;
    display: block;
    font-size: 1.25em;
    color: rgba(67, 56, 24, .95);
    font-weight: 700;
    font-family: inherit;
  }


  input[type='email'], input[type="text"] {
    padding: 14px 1em 0px;
  }

  button {
    display: block;
    margin: 0;
    padding: .65em 1em 1em;
    background-color: #7b552b;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
    transition: background-color .2s ease-out;

    &:hover, &:active {
      background-color: $darkBlue;
    }
  }

  .inputGroup1 {
    .helper {
      position: absolute;
      z-index: 1;
      font-family: inherit;
    }

    .helper1 {
      top: 0;
      left: 0;
      transform: translate(1.4em, 1.8em) scale(1);
      transform-origin: 0 0;
      color: $darkBlue;
      font-size: 1.25em;
      font-weight: 400;
      opacity: .65;
      pointer-events: none;
      transition: transform .2s ease-out, opacity .2s linear;
    }

    &.focusWithText .helper {
      transform: translate(1.4em, 1.2em) scale(0.65);
      opacity: 1;
    }
  }

  .labelName{
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
  }
}
