.footer-container {
  width: 80%;
  height: 100%;
  min-height: 100px;
  display: inline-flex;
  background-image: url('https://i.imgur.com/HsptH.png');
  background-size: cover;
  img {
    width: 105px;
    height: 105px;
    padding-top: 10px;
    padding-left: 10em;
  }

  .order {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    text-align: left;
    padding-left: 5em;
  }
  .text {
    padding-top: 2em;
    font-size: 20px;
    font-weight: bold;
    font-family: "Comic Sans MS";
    text-transform: uppercase;
    color: black;
  }
  .inline-xd {
    height: 100px;
    padding-left: 2em;
    padding-right: 3em;
  }
  .custom-order {
  }

  .custom {
    display: block !important;
  }
}
