$darkBlue: #217093;
$medBlue: #4eb8dd;
$lightBlue: #ddf1fa;
$inputBG: #f3fafd;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button {
  align-content: center;
  margin-top: 4em;
  border-radius: 10px;
  display: block;
  padding: .5em;
  background-color: #7b552b;
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  width: 30%;
  height: 65px;
  font-size: 1.55em;
  color: #FFF;
  font-weight: 600;
  font-family: inherit;
  transition: background-color .2s ease-out;
}

body {
  background-color: #092B40;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: 'Lato', 'Arial', sans-serif;
  background-image: url("/../../background.jpg");
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
}


input[type='email'], input[type="text"], input[type='password'], input[type='number'] {
  display: block;
  margin: 0;
  padding: 0 1em 0;
  background-color: $inputBG;
  border: solid 2px $darkBlue;
  border-radius: 4px;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  font-size: 1.55em;
  color: #353538;
  font-weight: 600;
  font-family: inherit;
  transition: box-shadow .2s linear, border-color .25s ease-out;

  &:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px #4eb8dd;
  }
}