.layoutContainer{
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-around;
}

.selector-title{
  position: relative;
  margin: 0 auto;
  font-family: 'Kranky', cursive;
  width: 13em;
  text-align: center;
  justify-content: center;
  font-size: 4em;
  -webkit-text-stroke: .02em black;
  background: rgba(67, 56, 24, .95);
  color: white;
  border-radius: 20px;
}


.selector-title-container{
  margin-top: .5em;
  display: flex;
  align-items: center;
}